{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
    "ServiceBusConnection__fullyQualifiedNamespace": "localhost",
    "DATA_STORAGE_CONNECTION": "UseDevelopmentStorage=true",
    "BRONZE_CONTAINER": "bronze",
    "SILVER_CONTAINER": "silver",
    "SCHEMA_REGISTRY_BLOB_CONNECTION": "UseDevelopmentStorage=true",
    "SCHEMA_REGISTRY_CONTAINER": "schema-registry",
    "SERVICEBUS_TOPIC_NAME": "dataset-events",
    "SERVICEBUS_SUBSCRIPTION_NAME": "dataset-processing",
    "OTEL_SERVICE_NAME": "dataset-processing-func-local",
    "APPLICATIONINSIGHTS_CONNECTION_STRING": ""
  }
}
